<ion-header>
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Gestion de la Cuenta
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start" routerLink="/crud">
        <img src="https://image.shutterstock.com/image-vector/new-tag-icon-product-label-600w-759416332.jpg" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Producto Nuevo</h1>
        <p>Registre el producto que desea vender</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/tecnologiaCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Tecnologia</h1>
        <p>Equipos electronicos, celulares, computadoras, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/CarCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Accesorios de Vehiculo</h1>
        <p>Accesorios de interior, accesorios de exterior, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/homeCato.png" height="500" width="500"/></ion-avatar>
      <ion-label>
        <h1>Para el Hogar</h1>
        <p>Decoracion interior, decoracion exterior, otros</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
