<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catalogo
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Busque lo que necesita!!
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/bellezaCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Belleza / Higiene Personal</h1>
        <p>Todo lo que necesitas de productos personales</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/tecnologiaCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Tecnologia</h1>
        <p>Equipos electronicos, celulares, computadoras, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/CarCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Accesorios de Vehiculo</h1>
        <p>Accesorios de interior, accesorios de exterior, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/homeCato.png" height="500" width="500"/></ion-avatar>
      <ion-label>
        <h1>Para el Hogar</h1>
        <p>Decoracion interior, decoracion exterior, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/juegosCato.png" height="500" width="500"/>
      </ion-avatar>
      <ion-label>
        <h1>Entretenimiento</h1>
        <p>Consolas, juegos, accesorios, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/petCato.jpg" height="500" width="500"/></ion-avatar>
      <ion-label>
        <h1>Mascotas</h1>
        <p>Accesorios, comida, juguetes, otros</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/imagenes/ropaCato.png" height="500" width="500"/></ion-avatar>
      <ion-label>
        <h1>Ropa</h1>
        <p>Ropa para hombres, mujeres, niños, niñas, infantes</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
